#home {
    background: linear-gradient(300deg, hsla(213, 77%, 54%, 0.315), #06bde1, #0498ee);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
.image1 {
    width: 250px;
    height: 350px;
    border-radius: 50%;
}
p {
    font-family: sans-serif;
    padding-left: 20px;
    text-align: center;
}
.navbar{
    background-color: rgb(213, 208, 208);
}
h1 {
    font-family: serif;
    padding-left: 20px;
}
h2 {
    font-family: serif;
    font-weight: bold;
}
#Portfolio{
    background-color: #BCF2F6;
}
#footer{
    background: linear-gradient(300deg, hsla(213, 77%, 54%, 0.315), #06bde1, #0498ee);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}